<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../vuejs/vuejs-2.5.16.js"></script>
    <script type="text/javascript" src="../vuejs/axios-0.18.0.js"></script>

    <!-- 这是样式 -->
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../csstree/zTreeStyle.css" type="text/css">

    <!-- tree.js 树的js文件，jquery不能删，jquery和tree的结合的 -->
    <script type="text/javascript" src="../js/tree.js"></script>
    <script type="text/javascript" src="../js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="../js/jquery.ztree.all-3.3.js"></script>
</head>
<body>
    <div id="postdiv">
        <div id="postlistdiv">
            <table border="1" rules="all" align="center">
                <tr align="center">
                    <td colspan="100">
                        名称：<input type="text" v-model="searchEntity.postname">
                             <input type="button" value="搜索" @click="getPostListConn()">
                    </td>
                </tr>
                <tr bgcolor="#ffb6c1">
                    <th>编号</th>
                    <th>名称</th>
                    <th>描述</th>
                    <th colspan="100">操作</th>
                </tr>
                <tr v-for="p in postlist" align="center">
                    <td>{{p.id}}</td>
                    <td>{{p.postname}}</td>
                    <td>{{p.postdesc}}</td>
                    <td>
                        <button>删除</button>
                        <button @click="toPostMenu(p.id)">分配权限</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="100">
                        当前{{page.currentPage}}/{{page.pageCount}}页；
                        <button @click="paging(1)">首页</button>
                        <button @click="paging(page.previousPage)">上一页</button>
                        <button @click="paging(page.nextPage)">下一页</button>
                        <button @click="paging(page.pageCount)">尾页</button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="nodes" style="display: none">
            <ul id="treeClass" class="ztree"></ul>
            <button onclick="savePostMenu()">保存</button>
        </div>
    </div>
</body>

<script type="text/javascript">
    var postid = 1;
    var setting={
        view:{
            showLine:true//是否显示线，默认为true
        },
        data:{
            key:{
                name:"mname"
            },
            simpleData:{
                enable:true,//开启树的层级结构
                idKey:"id",//设置树节点id，节点参数id必须与之相匹配，即在Actiob中穿过来的值必须与之相对应
                pIdKey:"pid"//设置pid，节点参数pid必须与之相匹配
            }
        },
        check:{
            enable:true
        },
        callback:{
            onClick:zTreeClick
        }
    };
    var currentSelectedNode;
    function zTreeClick(event, treeId, treeNode) {
        var treeObj = $.fn.zTree.getZTreeObj("treeClass");
        currentSelectedNode = treeObj.getNodeByTId(treeNode.tId);
        var path =currentSelectedNode.url;
        parent.frames[3].location.href = path;
    };
    //就绪函数
    function testaa(obj, id) {
        postid = id;
        $.fn.zTree.init($("#treeClass"),setting,obj);
    }
</script>
<script>
    function savePostMenu() {
        var treeObj = $.fn.zTree.getZTreeObj("treeClass");
        var nodes = treeObj.getCheckedNodes(true);
        var ids = [];
        for (var x = 0; x < nodes.length; x++){
            ids.push(nodes[x].id);
        }
        vm.savePostMenu(postid, ids);
        /*alert(postid);
        $.post(
            "../post/savePostMenu.do",
            {'ids': ids, 'postid': postid},
            function (response) {
                if(response.flag){
                    alert(response.msg);
                    document.getElementById("nodes").style.display = "none";
                }else{
                    alert(response.msg);
                }
            }
        );*/
    }
</script>

<script type="text/javascript" src="../myjs/post_list.js"></script>

</html>